@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,700&display=swap');
*{
    border:0;
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;}

.contenedor{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1000px;
}

/*HEADER*/

.hero{
    height: 100vh;
    background-image:url(imagenes/imagenprincipal1.jpg);
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .contenedor{
    padding-bottom: 50px;
    padding-top:50px;
    
}

.navegacion{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
    font-weight: 700;
    color: antiquewhite;
    
}
.navigacion ul{
    list-style: none;


}

.menu li{
    position: relative;
    display: inline-block;
    margin-left: 40px;
}

.menu li a{
    display: block;
    padding: 5px 0px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 100px;
}

.menu li a:hover{
    color: #fff2428c;
   
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
    
}

.menu{
    color:beige;
    text-decoration: none;
    margin-right: 0px;
    padding: 0px 0px;
    font-weight: inherit;
    align-items: center;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.herocontenedor{
    display:flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: aliceblue;
}

.wave{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100px;
}

.herotexto{
    width: 100%;
    margin-bottom: 50px;
}

.herotitulo{
    font-size: 4rem;
    color: rgb(255, 255, 254);
    background-color:#8f82128c;
    border-radius: 107px 107px 107px 107px;
-moz-border-radius: 107px 107px 107px 107px;
-webkit-border-radius: 107px 107px 107px 107px;
border: 9px solid #fcf9f9;
text-align: center;
}

.herosubtitulo{         
    font-size: 2rem;
    font-weight: 400;
    margin: 15px 0;
    text-align: center;
}

/*Presentacion Index*/

.presentacioncontenedor{
    text-align: center;
    padding: 100px;
    color: rgb(155, 102, 4);
}
.bloque1{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;
}

.descripcion{
    width: 80%;
    margin:0 auto;
}

/*Lineas Index*/

.linea{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.linea_imagen{
    text-align: center;
}

.linea_imagen--left{
    text-align: center;

}
.linea_cocina{
    max-width: 70%;
    border-radius: 35px 35px 35px 35px;
-moz-border-radius: 35px 35px 35px 35px;
-webkit-border-radius: 35px 35px 35px 35px;
border: 8px solid #8f82128c;

}
.linea_dormitorio{
    max-width: 60%; 
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 8px solid #8f82128c;
}
.linea_estudio{
    max-width: 70%; 
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 8px solid #8f82128c;
}
.linea_baño{
    max-width: 60%; 
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 8px solid #8f82128c;
}
.linea_texto{
    text-align: center;
    color: rgb(155, 102, 4);
    line-height: 2;
}
.linea_parrafo{
        text-align: center;
        color: rgb(155, 102, 4);
        align-items: center;
        }

/*Empresa*/

.empresa__grid{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:200px;
}

.empresa__items{
    width: 100%;
    margin:0 auto;
    background-color: #8f82128c;
    box-shadow: 0 5px 10px #8f82128c;
    border-radius: 10px;
    padding: 10px 10px;
    color: #fcf9f9;
    margin-bottom: 50px;
        
    }
.empresacontenedor{
    align-items: center;
}
    .empresa__img{
        width: 100%;
        height: 50%;
    }
    .subtituloempresa{
        color: #8f82128c;
        align-items: center;
        text-align: center;
    }
    .empresa__titulo{
        text-align: center;
        align-items: center;
    }
    .empresa__parrafo{
        text-align: center;
        align-items: center;
    }

/*Productos*/

.proyectos{
    background-color: rgba(238, 233, 158, 0.829);
}
.subtitulo{
    color: #8f82128c;
    align-items: center;
    text-align: center;
    max-width: 100%;
}
.proyectoscontenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 50px;
    max-width: 1500px;}

.proyectos__grid{    
    display: grid;
    height: 100%;
    grid-template-areas:
    "coc1 coc2 coc3"
    "dor1 dor2 dor3"
    "est1 est2 est3"
    "bañ1 bañ2 bañ3";
    gap:0px;
}

.proyectos__items{
position: relative;
width: 90%;
height: 90%;
overflow: hidden;
object-fit: contain;
}

.proyectos__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;

}
.proyectos__items:nth-of-type(1){
    grid-area: coc1;
}
.proyectos__items:nth-of-type(2){
    grid-area: coc2;
}
.proyectos__items:nth-of-type(3){
    grid-area: coc3;
}
.proyectos__items:nth-of-type(4){
    grid-area: dor1;
}
.proyectos__items:nth-of-type(5){
    grid-area: dor2;
}
.proyectos__items:nth-of-type(6){
    grid-area: dor3;
}
.proyectos__items:nth-of-type(7){
    grid-area: est1;
}
.proyectos__items:nth-of-type(8){
    grid-area: est2;
}
.proyectos__items:nth-of-type(9){
    grid-area: est3;
}
.proyectos__items:nth-of-type(10){
    grid-area: bañ1;
}
.proyectos__items:nth-of-type(11){
    grid-area: bañ2;
}
.proyectos__items:nth-of-type(12){
    grid-area: bañ3;
}

.proyectos__hover{
position: absolute;
background:#8f82128c;
top:0;
left:0;
width: 100%;
height: 100%;
color:#fcf9f9;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
transform: translateX(100%);
cursor:pointer;
transition: transform .3s ease-in-out;

}

.proyectos_icon{
    margin-top: 10px;
    font-size: 30px;
}

.proyectos__items:hover .proyectos__hover{
    transform: translateX(0%);

}


/*MedioAmbiente*/
.medioambiente{
    position: relative;
    align-items: center;
}
.medioambiente h2{
    text-align: center;
    color: #8f82128c;
}
.medioambiente iframe{
    width: 100%;
	height: 400px;
    position: relative;
  align-content: center;
  background-size: contain;
  background-repeat: no repeat;
}
.medioambiente p{
color: #8f82128c;
line-height: 3;
text-align: center;
}


/*Contacto*/
form{
	width:250px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#8f82128c;
    color: #8f82128c;
}

form label{
	width:100%;
	font-weight:bold;
	display:inline-block;
    color: #8f82128c;
}

form input[type="text"],
form input[type="email"]{
	width:100px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#8f82128c;
	margin:10px 10px;
	display:inline-block;
}

form input[type="submit"]{
	width:50%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid burlywood;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#5a530f8c;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	resize:none;
	display:block;
}   



/*Footer*/
    
.footer{
background-color: #8f82128c;
justify-content: space-between;
margin-top: 0px;
margin-bottom: 0px;
    }

.footer__grid{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 20px;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
.footer__titulo{
    font-weight: 300;
    color: #fcf9f9;
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}
.footer__icons{
    display:flex;
    justify-content: space-evenly;
}

.footer__contenedor-icons{
    display: inline-block;
    width: 50px;
    height: 50px;
    color:#fcf9f9;
    text-align: center;
    border-radius: 90%;
}
.fab{
  color: inherit;
    font-size: 40px;
  text-decoration: none;
    line-height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ubicacion{
    align-items: center;
    text-align: center;
    color: #fcf9f9;
    margin-bottom: 0px;
    display:flexbox;
    
}
.contenedorfooter__grid{
    width: 100%;
    justify-content: space-between;
}

/*Responsive desing*/

@media screen and (max-width: 768px){

    .hero{
        height: 70vh;
        background-image:url(imagenes/imagenprincipal1.jpg);
        background-repeat: no repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        position: relative;}

    .menu{
            width: auto;
            height: auto;
            display: flex;
            flex-direction:column;   
            justify-content: center;
            font-size: 10px;
            margin-top: 100px;

         }
         .hero .contenedor{
            padding-bottom:0px;
            padding-top:0px; 
        }

    .herotexto{
            width: 50%;
            margin-bottom: 20px;
        }

    .herotitulo{
        font-size: 2rem;
        border: 5px solid #fcf9f9;
        text-align: center;
        margin-bottom: 100px;
        }
        
    .herosubtitulo{         
            font-size: 1rem;
            font-weight: 200;
            text-align: center;
            margin-bottom: 300px;
        }

    .bloque1{
            width: 80%;
            height: 80%;
            border-radius: 50%;
            margin-bottom: 10px;
            object-fit: cover;
            object-position: top;
        }

    .linea_texto{
            line-height: 1;
        }
    .empresa__grid{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap:50px;
    }
    .subtitulo{
        max-width: 90%;
        align-items: center;
    
    }
    .medioambiente p{
        line-height: 2;
    
    }

    .footer__titulo{
        font-weight: 200;
        font-size: 1.5rem;}
    
        .footer__grid{
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 0px;
        }
}

@media screen and (max-width: 480px){

    .hero{
        height: 60vh;}

    .menu{
           
            font-size: 7px;
            margin-top: 100px;

         }
         .hero .contenedor{
            padding-bottom:0px;
            padding-top:0px; 
        }

    .herotexto{
            width: 70%;
            margin-bottom: 20px;
        }

    .herotitulo{
        font-size: 1rem;
        border: 3px solid #fcf9f9;
        text-align: center;
        margin-bottom: 50px;
        }
        
    .herosubtitulo{         
            font-size: 1.2rem;
            font-weight: 200px;
            text-align: center;
            margin-bottom: 300px;
        }

    .bloque1{
            width: 90%;
            height: 90%;
            border-radius: 50%;
            margin-bottom: 10px;
            object-fit: cover;
            object-position: top;
        }

    .linea_texto{
            line-height: 1;
          
        }

        
    .linea_cocina{
        border: 4px solid #8f82128c;
        max-width: 100%;
    }
    .linea_dormitorio{
        border: 4px solid #8f82128c;
        max-width: 100%;
    }
    .linea_estudio{
        border: 4px solid #8f82128c;
        max-width: 100%;
    }
    .linea_baño{
        border: 4px solid #8f82128c;
        max-width: 100%;
    }
    .empresa__grid{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap:50px;
    }
    .subtitulo{
        max-width: 90%;
        align-items: center;
    
    }
    .medioambiente p{
        line-height: 1;
    
    }

    .footer__titulo{
        font-weight: 150;
        font-size: 1rem;}
    
        .footer__grid{
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 0px;
        }
}